<% if (title) { %>
    <h1 id="editInventory-title"><%= title %></h1>
<% } else {
      res.redirect('/')
    } %>

<div class="flash-message-container">
    <%- messages() %>
</div>


<% if (errors) { %>
    <ul class="register-flash-errors">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>
<p style="text-align: center;">Confirm Deletion - The delete is permanent.</p>
<form id="inventoryForm" action="/inv/delete" method="post">
    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" required pattern="^[a-zA-Z0-9]+$" value="<%= locals.inv_make %>" readonly><br><br>

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" required pattern="^[a-zA-Z0-9]+$" value="<%= locals.inv_model %>" readonly><br><br>

    <label for="inv_year">Year:</label>
    <input type="number" id="inv_year" name="inv_year" required min="1900" max="2023" value="<%= locals.inv_year %>" readonly><br><br>

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" required min="1" value="<%= locals.inv_price %>" readonly><br><br>

    <input type="submit" value="Delete Vehicle">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
